{% extends "layout.html" %}

{% block title %}
    menu - table setting guide
{% endblock %}

{% block content %}
    <div class="text-center mt-5">
        <h1 class="display-4">learn the art of table setting</h1>
        <p class="lead">ready to elevate your dining experience? dive in, learn at your own pace, and when you’re ready, 
            test your newfound knowledge with our quiz</p>

        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{{ url_for('static', filename='images/basic_table.png') }}" alt="Basic Table Setting"
                     class="img-fluid home-table-setting custom-image-margin">
                <button id="basic" class="btn btn-outline-primary custom-button-margin">basic</button>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{ url_for('static', filename='images/casual_table.png') }}" alt="Casual Table Setting"
                     class="img-fluid home-table-setting custom-image-margin">
                <button id="casual" class="btn btn-outline-primary custom-button-margin">casual</button>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{ url_for('static', filename='images/formal_table.png') }}" alt="Formal Table Setting"
                     class="img-fluid home-table-setting custom-image-margin">
                <button id="formal" class="btn btn-outline-primary custom-button-margin">formal</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#basic").click(function() {
                window.location.href = '/learn/basic';
            });
            $("#casual").click(function() {
                window.location.href = '/learn/casual';
            });
            $("#formal").click(function() {
                window.location.href = '/learn/formal';
            });
        });
    </script>
{% endblock %}
