<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css', v='1.0') }}">

    <!-- jQuery Library -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="/">how to set a table: basic, casual, and formal table settings</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link {{ 'active-link' if request.path == '/learn/basic' else '' }}" href="/learn/basic">basic</a>
                    <a class="nav-link {{ 'active-link' if request.path == '/learn/casual' else '' }}" href="/learn/casual">casual</a>
                    <a class="nav-link {{ 'active-link' if request.path == '/learn/formal' else '' }}" href="/learn/formal">formal</a>
                    <a class="nav-link {{ 'active-link' if request.path == '/quiz' else '' }}" href="/quiz">quiz</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content Block -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Other HTML content -->
    {% block scripts %}
    {% endblock %}
</body>

</html>
